[Install]
WantedBy=multi-user.target

[Unit]
Description=Clocklogger

[Service]
Environment=
ExecStart=/usr/bin/python clocklogger/logger.py -L info
Restart=on-failure
User=clock
Group=clock
WorkingDirectory=/home/clock/clocklogger

