[Install]
WantedBy=multi-user.target

[Unit]
Description=Clocklogger

[Service]
Environment=
ExecStartPre=/bin/bash /home/pi/bin/Record_from_lineIn.sh
ExecStart=/usr/local/bin/clocklogger
Restart=on-failure
User=pi
Group=pi
WorkingDirectory=/home/pi/clocklogger

