[Install]
WantedBy=multi-user.target

[Unit]
Description=Clocklogger

[Service]
Environment=PYTHONPATH=/home/clock/weewx/bin TEMPODB_API_KEY="34dc77a63b4f4c62bbf676e66e5e9129" TEMPODB_API_SECRET="ece28691590949908fdd63e3ed98a30a"
ExecStart=/usr/bin/python clocklogger/weatherlogger.py
Restart=on-failure
User=clock
Group=clock
WorkingDirectory=/home/clock/clocklogger

