[Install]
WantedBy=multi-user.target

[Unit]
Description=Clocklogger

[Service]
Environment=PYTHONPATH=/usr/share/weewx
ExecStart=/usr/bin/python clocklogger/weatherlogger.py
Restart=on-failure
User=clock
Group=clock
WorkingDirectory=/home/clock/clocklogger

