[Install]
WantedBy=multi-user.target

[Unit]
Description=Weatherlogger

[Service]
Environment=PYTHONPATH=/usr/share/weewx
ExecStart=/home/pi/.local/bin/weatherlogger
Restart=on-failure
User=pi
Group=pi
WorkingDirectory=/home/pi/clocklogger

